---
import BrandIcon from "@/components/header/BrandIcon.astro";
import MenuMobile from "@/components/header/Mobile/MenuMobile.astro";
import NavigationItems from "@/components/header/NavigationItems.astro";
import SupportItems from "@/components/header/SupportItems.astro";
---

<header class="mx-auto w-full fixed top-0 bg-light z-10 py-4">
  <main class="px-3 xs:px-5 md:px-10 lg:px-20 w-full max-w-8xl mx-auto">
    <NavigationItems />
    <MenuMobile />
    <BrandIcon />
    <SupportItems />
  </main>
</header>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
  }
</style>
