@import "tailwindcss";

@theme {
  --color-light: #FeFeFe;
  --color-gray: #d2d2d2;
  --color-dark: #090C02;

  --color-primary: #E36414;
  --color-secondary: #FFF4EC;
  --color-tertiary: #f9d740;

  /* breakpoints */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */

  /* fonts */
  --font-sans: "Quicksand Variable", sans-serif;
  --font-comic: "Grandstander Variable", sans-serif;

  /* container */
  --container-8xl: 96rem; /* 96rem = 1536px */
  --container-9xl: 120rem; /* 120rem = 1920px */
  --container-10xl: 140rem; /* 140rem = 2560px */
}
