---
import BaseLayout from "@/layout/base-layout.astro";
import Hero from "@/section/home/Hero.astro";
import MainStatistics from "@/section/home/MainStatistics.astro";
---

<BaseLayout>
  <Hero />
  <MainStatistics />

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis nobis
    quod assumenda vel possimus, pariatur incidunt ipsum dolores eum adipisci
    quibusdam iure. Dignissimos sunt sequi laudantium optio iste esse facere.
    Non ducimus corrupti expedita incidunt quo sit officiis qui quae dolorum hic
    accusamus laudantium eligendi molestiae sed porro fugiat laborum voluptates,
    nam unde ea sapiente eaque? Ipsum amet aspernatur molestias? Sapiente
    voluptatum delectus, molestiae dolor voluptatem voluptatibus debitis. Fuga,
    ducimus illo ipsum ullam molestiae maxime vero soluta eius quidem id
    eligendi expedita libero magnam provident exercitationem placeat reiciendis
    deleniti! Optio. Facere ab, repellat in tempore nihil deserunt mollitia?
    Voluptatibus voluptates optio cupiditate dolorum ipsam pariatur velit nemo
    dignissimos cum rem, quis veritatis. Velit explicabo esse corporis beatae
    facilis eius accusantium! Tempore quis perferendis assumenda nostrum
    blanditiis praesentium ducimus deleniti, quidem nisi exercitationem tenetur
    magnam? Mollitia, reiciendis accusamus aperiam tempore optio voluptatibus
    voluptates laudantium doloribus saepe dolorem eius officia. Aut, aliquid?
    Blanditiis, atque dicta? Pariatur aut qui nam ullam at sit esse asperiores
    cum quo voluptas fugit deleniti tempore rem maxime, harum eaque adipisci.
    Magnam placeat numquam eius quos quibusdam rerum? Tempore, quia soluta
    similique quos excepturi quam animi quae minima nisi eos magnam distinctio
    provident ducimus? Quo error quod quos provident laboriosam nesciunt
    explicabo aliquam eius sapiente, cum sequi perspiciatis.
  </p>
</BaseLayout>
