---
import AnimalCard from "./AnimalCard.astro";

import { animals } from "@/constants/animals.constant";
---

<section class="wrapper-animal-collage relative">
  <section class="overflow-hidden mt-10 content-animal-collage relative">
    <section class="flex px-7 sm:px-0 justify-start 3xl:justify-center items-center gap-10">
      {
        animals.map((animal, index) => (
          <AnimalCard
            title={animal.name}
            description="Max es un perro juguetón y amigable que busca un hogar lleno de amor."
            date="Disponible desde: 2023-10-01"
            rotateLeft={index % 2 === 0}
            image={animal.image}
          />
        ))
      }
    </section>
  </section>
</section>

<style>
  /* .content-animal-collage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffff00 5%,
      #ffffff00 95%,
      #ffffff 100%
    );
    pointer-events: none;
    z-index: 10;
  } */

  .wrapper-animal-collage::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--color-primary);
  }
</style>
