---
import { cn } from '@/utils/className';

type Props = {
  title: string;
  description: string;
  date: string;
  image: string;
  rotateLeft?: boolean;
  className?: string;
  classNameContainerImage?: string;
};

const { date, description, image, title, rotateLeft } = Astro.props;
const { className = "" } = Astro.props;
const { classNameContainerImage = "" } = Astro.props;
---

<section class={className}>
  <div
    class={`bg-white shadow-md rounded-xs w-max p-3 mb-2 ${rotateLeft ? "-rotate-2 hover:-rotate-[4deg]" : "rotate-2 hover:rotate-[4deg] mt-1"} duration-700 cursor-pointer`}
  >
    <div class={cn("w-[285px] aspect-[1/1.05]", classNameContainerImage)}>
      <img
        src={image}
        alt={title}
        class="w-full h-full object-cover object-top"
      />
    </div>
    <span class="pl-4 pt-2 block text-gray-600 font-semibold">{title}</span>
  </div>
</section>
