---
import LogoAulla from "@/assets/logos/aulla-logo.png";
---

<a
  id="home-link"
  href="/"
  class="flex justify-center items-center flex-col cursor-pointer relative"
>
  <div class="flex justify-center items-center flex-col">
    <img
      src={LogoAulla.src}
      class="w-16 h-auto object-contain"
      alt="logo aúlla EC"
    />
    <p class="font-comic text-primary/70 text-lg">AULLA EC</p>
  </div>
</a>
