---
// Fonts and global styles
import "@/styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/grandstander";
// Supports weights 300-700
import "@fontsource-variable/quicksand";

// Components
import Footer from "@/section/Footer.astro";
import Header from "@/section/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>AULLA Ecuador</title>
  </head>
  <body class="bg-light text-dark font-sans">
    <Header />
    <main class="relative mt-26">
      <slot />
    </main>
    <Footer />
  </body>
</html>
